{% extends "books/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container"> 
    <div class="row">
        <div class="col">
        </div>
        <div class="col-8" align="left">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Entrar</legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Entrar</button>
                    <small class="text-muted ml-2">
                        <a href="{% url 'password_reset' %}">Recuperar Password</a>
                    </small>
                </div>
            </form>
            <div class="border-top pt-3">
                <small class="text-muted">
                    Precisa de um conta? <a class="ml-2" href="{% url 'register' %}">Registe-se aqui</a>
                </small>
            </div>
        </div>
        <div class="col">
        </div>
    </div>
</div>
{% endblock content %}