{% extends "books/base.html" %}
{% load static %}

{% block content %}
<div class="container"> 
    <div class="row">
        <div class="col-md-8">
            <img widht="225" height="225" src="{% static '/heart.jpg' %}" alt="My image">
        </div>
        <div class="col-md-12">
            <p>O nosso clube de leitura surge da tremenda paixão pelos livros e da vontade inabalável dos nossos colegas 
            António Jorge, da Ror de Livros e Ana Pereira, da Xylocopa Books, partilharem os seus projetos com a nossa comunidade. 
            Um encontro feliz que veio proporcionar aos afortunados membros deste club de leitura a troca de opiniões, reflexões e 
            críticas sobre os livros que vamos lendo e trazendo para estas sessões. Sendo ainda, a prática da leitura, uma atividade 
            pouco frequente entre os portugueses, e considerando o enorme valor cultural gerado por este pequeno grupo de leitores, 
            achámos que para além das sessões físicas, que realizamos no último Domingo de cada mês, e que por várias razões têm uma 
            lotação limitada, seria uma boa ideia abrir as portas virtuais desta experiência às pessoas que estão interessadas em 
            acompanhar e contribuir para esta causa mui nobre que é o ato de ler.
            <br><br>    
            </p>
        </div>
    </div>
    <div class="row">
        <p>
        No nosso site podem encontrar toda a informação sobre as diversas sessões e os livros que foram apresentados. 
        Poderão também criar uma conta e contribuir, de forma construtiva, com comentários sobre as várias obras apresentadas.    
        </p>    
    </div>
</div>
{% endblock content %}