{% extends "books/base.html" %}
{% load static %}

{% block content %}

    <table>
            <tr class="panel-heading"> 
                <td class="align-bottom"> <h4> {{ sessao.sessaoid.title }} - {{ sessao.sessaoid.sessao_date }}</h4></td>
            </tr>          
    </table>
    <br>
    <div class="conatainer-fluid">
        <div class="row">
            <div class="col-md-6">    
                <img align="center" widht="128" height="200" src= {{ object.image.url }}/>
                <h5> {{ object.book_name }} </h5>
                <h6> {{ object.description }} </h6>   
            </div>       
        </div>
        <div class="row">
            <div class="col-md-6">
                <p> {{ object.sinopse }} </p>
            </div>
        </div>
    </div>

{% endblock content %}