{% extends "books/base.html" %}
{% load static %}

{% block content %}
    <div class="row">
        <h4>{{ sessao.sessaoid.title }} - {{ sessao.sessaoid.sessao_date }}</h4>
    </div>
    <br>
        <a class="btn btn-outline-primary btn-sm" href="{% url 'book:detalhe' sessao.sessaoid.id %}">Voltar à Sessão</a>
        {% if user.is_authenticated %}
            <a class="btn btn-outline-primary btn-sm" href="{% url 'book:novopost' object.id %}">Post</a>
        {% endif %}
    <br>
    <br>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-2">   
                <img class="icenter" align="center" widht="128" height="200" src= {{ object.image.url }}/>   
            </div>
            <div class="col-8">
                <h5> {{ object.book_name }} </h5> 
                <h6> {{ object.author }}</h6>
                <h6> {{ object.description }} </h6>
                <p style="font-size:11px">Apresentado por: {{ object.presented_by }}</p>
                <p style="font: size 13px"> {{ object.sinopse }} </p> 
            </div> 
        </div>
    </div>
        <h3>Posts</h3>
        {% for posts in books.posts_set.all %}
        <div class="container"> 
            <div class="row">
                <div class="col">
                </div>
                <div class="col-8" align="left">
                    <article class="media content-section">
                                <div class="media-body">
                                    <div class="article-metadata">
                                        <img class="rounded-circle article-img" src="{{ posts.posted_by.profile.image.url }}">
                                        {{ posts.posted_by }}
                                        <small class="text-muted"> {{ posts.date_posted|date:"F d, Y" }}</small>    
                                    </div>
                                    <h4 class=""article-title">{{ posts.title }}</h4>
                                    <p class="article-content">{{ posts.content }}</p>
                                </div>
                    </article>
                </div>
                <div class="col">
                </div>
            </div>
        </div>
        {% endfor %}
{% endblock content %}