{% extends "books/base.html" %}
{% load static %}

{% block content %}
    <div class="row">
        <h4> {{ sessoes.title }} - </h4>
        <h4> {{ sessoes.sessao_date }} </h4>
    </div>
    <br>
    <div class="row">
        {% for livros in sessoes.books_set.all %}
            <div class="col-md-4"> 
                <img widht="128" height="200" src= {{ livros.image.url }}/>
                <p><a href="{% url 'book:detalhe_livro' livros.id %}"> {{ livros.book_name }} </a></p>
            </div>
        {% endfor %}
    </div>
{% endblock content %}