{% extends "books/base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h4>Bem-vindo</h4>       
            <p>Somos uma comunidade civil que partilha o gosto pela leitura.
                Aqui apresentamos o resultado das nossas sessões
                mensais. É, desde já, convidado a participar e a comentar os livros apresentados, 
                basta criar uma conta e está pronto a partilhar. O debate é importante. Acreditmaos
                que a troca de ideias enriquece a nossa experiência e percepção dos textos literários.
        </div>
        <div>
            &nbsp;
        </div> 
         <div class="col-md-12 brush">
            <p class="bgfrase text-center">Os livros são refúgos da memória, espelhos onde nos olhamos para podermos
                ser mais parecidos com aquilo que desejamos ser. Estes frágeis universos são 
                a nossa força. É imprescindível cuidar de quem lê.
            </p>    
        </div>
        <div class="col-md-12">       
            <p style="font-size:10px">Manifesto pela leitura, Irene Vallejo.</p>
        </div>
        <div>
            &nbsp;
        </div> 
    </div>
    <div class="row fcolor">
        <h4>Sessões</h4>
    </div>
    <div class="row bgsessoes">
        {% if displaybook %}
            {% for c in displaybook %}
            <div class="col-md-2 book margens">
                    <h6><a href="{% url 'book:detalhe' c.id %}"> {{ c.title }}</a></h6>
                    <p style="font-size:11px">{{ c.sessao_date }}</p>
            </div>       
            {% endfor %}
        {% else %}
            <p>Não há sessões</p>
        {% endif %}
    </div>
</div>
{% endblock content %}

