{% extends "books/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-2">   
                <img class="icenter" align="center" widht="128" height="200" src= {{ book.image.url }}/>   
            </div>
            <div class="col-md-6">
                <h4 style="color: grey">Este é o livro que está a comentar:</h4>
                <h5> {{ book.book_name }} </h5>
                <p style="font-size:11px">Autor: {{ book.author }}</p>
                <p style="font-size:11px">Descrição: {{ book.description }}</p>
                <p style="font-size:11px">Apresentado por: {{ book.presented_by }}</p>
            </div>
        </div>
    </div>
    <br>
    <div class="container"> 
        <div class="row">
            <div class="col">
            </div>
            <div class="col-8" align="left">
                <form method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">Criar Post</legend>
                        {{ form|crispy }}
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-outline-info" type="submit">Criar</button>
                    </div>
                </form>
            </div>
            <div class="col">
            </div>
        </div>
    </div>
{% endblock content%}